<h1>Hello {{name}},</h1>
<p>You have been assigned the following job:</p>

<p style="font-weight: bold;">Job Description</p>
{{jobDescription}}

<p style="font-weight: bold;">Work Instructions</p>
{{workInstructions}}

<p style="font-weight: bold;">Completion Target</p>
{{completionTarget}}

<p style="font-weight: bold;">Location Alerts</p>

<a href="{{acceptUrl}}">Accept</a>
<a href="{{rejectUrl}}">Reject</a>